.logo {
    /* Mim-logo */

    position: absolute;
    width: 552px;
    height: 568px;
    left: 444px;
    top: 240px;



    /* Mim-logo */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #262781;
    border-radius: 309.5px;


}
